$font-stack:    Helvetica, sans-serif;
$primary-color: #ff0606;

body,h1 {
  font: 100% $font-stack;
  color: $primary-color;
}

.username{
    margin: 7px 42px 0 !important;
    border-radius: 2px;
}
.info-block{
    font-size: 18px;
    font-weight: 700;
    color: #949494;
    border-bottom: 2px solid #949494;
}
h2{
    font-weight: 700;
}
