<section class="container mb-5">

  <div *ngIf="user_detail" class="row">

    <div class="col-lg-4 col-md-4 col-sm-12 mt-5 text-center">
      <img [src]="user_detail.avatar_url" class="w-75 img-responsive rounded" />
      <div class="username mt-2 text-dark shadow-lg p-1 mb-4 bg-white mr-5 ml-5">
        <h2>
          <strong>
            {{user_detail.name}}
          </strong>
        </h2>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mt-5">

      <div>
        <div class="text-center">
          <h2>
            {{'user_detail.information.trans' | translate }}
          </h2>
        </div>

        <div class="p-2 info-block"> {{'user_detail.member_since.trans' | translate }}:
          {{user_detail.created_at | date: "MMM d, y"}}</div>
        <div class="p-2 info-block">{{'user_detail.location.trans' | translate }}: {{user_detail.location}}</div>
        <div class="p-2 info-block">{{'user_detail.company.trans' | translate }}: {{user_detail.company}}</div>

        <div class="p-2 info-block">{{'user_detail.repositories.trans' | translate }}: {{user_detail.public_repos}}
        </div>
        <div class="p-2 info-block">{{'user_detail.gists.trans' | translate }}: {{user_detail.public_gists}}
        </div>
        <div class="p-2 info-block">{{'user_detail.followers.trans' | translate }}: {{user_detail.followers}}</div>
        <div class="p-2 info-block">{{'user_detail.following.trans' | translate }}: {{user_detail.following}}</div>
      </div>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
      <div>

        <div class="text-center">
          <h2>
            {{'user_detail.links.trans' | translate }}
          </h2>
        </div>

        <div class="p-2 info-block">
          <a target="_blank" [href]="user_detail.html_url">
            <i class="fa fa-link" aria-hidden="true"></i> {{'user_detail.github.trans' | translate }}
          </a>
        </div>
        <div class="p-2 info-block">
          <a target="_blank" [href]="user_detail.blog">
            <i class="fa fa-link" aria-hidden="true"></i> {{'user_detail.blog.trans' | translate }}
          </a>
        </div>

        <!-- <div class="p-2 info-block">
              <a target="_blank" [href]="user_detail.followers_url">
                <i class="fa fa-link" aria-hidden="true"></i> Followers
              </a>
            </div>
            <div class="p-2 info-block">
              <a target="_blank" [href]="user_detail.following_url">
                <i class="fa fa-link" aria-hidden="true"></i> Following
              </a>
            </div> -->

      </div>
    </div>
  </div>

  <div class="text-center mt-5" *ngIf="!user_detail">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</section>