<app-header></app-header>

<a href="https://github.com/Noor-Mustafa/angular7-crud" target="_blank">
  <div class="source-code text-center position-fixed">
    <img class="git-hub-source-code" src="assets/images/github.svg" alt="GitHub" />
    <br />
    <div class="source-code-text">
      Source
      <br />
      Code
    </div>
  </div>
</a>

<!-- <div [@routeAnimation]="getAnimationData(routerOutlet)"> -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>